h1{
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 4rem !important;
}

h2{
    padding: 1% 0 5%;
}

.dice{
    width: 200px;
    height: 200px;
}

.refresh{
    padding-top: 7%;
}

.playerBox{
    text-align: center;
}
